.card{
    width: 28%;
    margin: 2%;
    float: left;
}
.input{
    float: left;
}
#img_card{
    
    
    margin-left:15%;
    width: 70px;
    border-radius: 50%; 
}

#input_text{
    border: none;
    width: 110px;
    background-color: darkgray;
}